.map-responsive{
    overflow:hidden;
    padding-bottom: 50%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;

    width:100%;
    position:absolute;
}
.nav-link {
    font-size: 22px;
  }
  .sm-nav {
    text-indent: 10px;
}
.haha {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 164 285.7 100'%3E%3Cstyle%3E :root %7B --total-time: 1.8s; --coffe-delay: calc(var(--total-time) / 3.5); --coffe-time: calc(var(--total-time) / 4); --cup-delay: calc(var(--total-time) / 2.7); --cup-time: calc(var(--total-time) / 3); --under-delay: calc(var(--total-time) / 1.5); --under-time: calc(var(--total-time) / 3.75); %7D body %7B text-align: center; margin: 0px; font-family: 'Lato', sans-serif; font-style: normal; font-weight: 300; %7D .line %7B fill: none; stroke-width: 0.8; stroke: rgb(255, 204, 0); stroke-dasharray: 1800; stroke-dashoffset: 1800; animation: line var(--total-time) ease-in-out; animation-fill-mode: forwards; %7D @keyframes line %7B to %7B stroke-dashoffset: 0; %7D %7D @keyframes anim %7B to %7B opacity: 1; %7D %7D%3C/style%3E%3Cpath d='m -2.5049609,189.29572 c 20.1873619,-8.69354 41.7293529,-14.06718 63.2263989,-18.41238 17.597364,-2.48988 35.930475,-5.21489 53.473212,-1.23935 17.49542,6.74891 33.09618,22.08726 53.12771,19.77025 11.1259,0.66164 13.18555,-19.37677 23.73291,-7.18123 10.16791,6.34933 23.95765,11.31343 33.65932,2.2968 25.31686,-7.66908 52.26647,-4.90303 78.36064,-5.92706 11.94211,-0.70815 25.102,0.65449 35.83421,-5.61103' class='line' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
background-size: cover;


}