.map-responsive{
    overflow:hidden;
    padding-bottom: 50%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;

    width:100%;
    position:absolute;
}
.sm-nav {
    text-indent: 10px;
}
.haha {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 153 190 25'%3E%3Cstyle%3E :root %7B --total-time: 4s; --coffe-delay: calc(var(--total-time) / 3.5); --coffe-time: calc(var(--total-time) / 4); --cup-delay: calc(var(--total-time) / 2.7); --cup-time: calc(var(--total-time) / 3); --under-delay: calc(var(--total-time) / 1.5); --under-time: calc(var(--total-time) / 3.75); %7D body %7B text-align: center; margin: 0px; font-family: 'Lato', sans-serif; font-style: normal; font-weight: 300; %7D .line %7B fill: none; stroke-width: 0.5; stroke: rgb(255, 204, 0); stroke-dasharray: 1800; stroke-dashoffset: 1800; animation: line var(--total-time) ease-in-out; animation-fill-mode: forwards; %7D @keyframes line %7B to %7B stroke-dashoffset: 0; %7D %7D @keyframes anim %7B to %7B opacity: 1; %7D %7D%3C/style%3E%3Cpath d='m -0.29278376,171.44699 c 2.69810626,-2.89828 8.34825646,-5.46165 13.55679476,-7.81319 7.845216,-2.40106 16.751922,-4.40592 26.127398,-5.74006 11.862423,-1.54511 48.498347,1.73594 55.441045,4.41069 6.575216,2.37779 29.561356,12.65914 39.612146,11.95318 10.3267,-1.19295 15.80104,-12.01562 17.23948,-16.06437 0.3942,-2.48771 -2.23578,-5.42516 -8.81507,-2.46784 -5.84542,2.62746 -12.77619,7.80307 -4.56005,10.50097 10.43437,2.27255 21.71424,-0.65512 31.52905,-2.09812 11.2133,-1.61056 3.5099,-3.11815 11.8108,-6.55738 3.05659,-1.35717 4.41235,-5.42621 -1.35611,-2.43258 -7.44276,3.61589 -16.9804,6.98094 -20.07088,11.60575 -1.91709,4.47468 10.26509,7.14068 19.43424,8.37277 14.54293,1.44793 16.44034,1.50308 18.89343,1.56213' class='line' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
  
  }