.map-responsive{
    overflow:hidden;
    padding-bottom: 50%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;

    width:100%;
    position:absolute;
}
.ja {
    box-shadow: inset 0 0 0 0 #ffc107;
    
    padding: 0 .25rem;
    margin: 0 -.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }
  .ja:hover {
    color: #fff;
    box-shadow: inset 1200px 0 0 0 #ffc107;;
  }

  .sm-nav {
    text-indent: 10px;
}
div.sticky {
    z-index: 300;
    position: sticky;
    top: 200px;

  }
  .nav-link {
    font-size: 22px;
  }