.nav-link {
    font-size: 22px;
  }
  div.sticky {
    z-index: 300;
    position: sticky;
    top: 200px;

  }
  .map-responsive{
    overflow:hidden;
    padding-bottom: 50%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;

    width:100%;
    position:absolute;
}
.sm-nav {
  text-indent: 10px;
}
.line-1{
  position: relative; 
  width: 24em;
  border-right: 2px solid rgba(255,255,255,.75);
  white-space: nowrap;
  overflow: hidden;

}

/* Animation */
.anim-typewriter{
animation: typewriter 0.5s steps(100) 0s 1 normal both,
           blinkTextCursor 500ms steps(100) infinite normal;
}
@keyframes typewriter{
from{width: 0;}
to{width: 350px;}
}
@keyframes blinkTextCursor{
from{border-right-color: rgba(255,255,255,.75);}
to{border-right-color: transparent;}
}
.anim-typewriter2{
  animation: typewriter 1.1s steps(100) 0s 1 normal both,
             blinkTextCursor 500ms steps(100) infinite normal;
  }
  

  @keyframes blinkTextCursor2{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
  }
