.map-responsive{
    overflow:hidden;
    padding-bottom: 61%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;

    width:100%;
    position:absolute;
}
.sm-nav {
    text-indent: 10px;
}

