.nav-link {
    font-size: 22px;
  }  
div.sticky {
    z-index: 300;
    position: sticky;
    top: 200px;

  }
  .map-responsive{
    overflow:hidden;
    padding-bottom: 50%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;

    width:100%;
    position:absolute;
}
.sm-nav {
  text-indent: 10px;
}
.haha {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='10 43 200 50'%3E%3Cstyle%3E :root %7B --total-time: 2.5s; --coffe-delay: calc(var(--total-time) / 3.5); --coffe-time: calc(var(--total-time) / 4); --cup-delay: calc(var(--total-time) / 2.7); --cup-time: calc(var(--total-time) / 3); --under-delay: calc(var(--total-time) / 1.5); --under-time: calc(var(--total-time) / 3.75); %7D body %7B text-align: center; margin: 0px; font-family: 'Lato', sans-serif; font-style: normal; font-weight: 300; %7D .line %7B fill: none; stroke-width: 0.8; stroke: rgb(255, 204, 0); stroke-dasharray: 1800; stroke-dashoffset: 1800; animation: line var(--total-time) ease-in-out; animation-fill-mode: forwards; %7D @keyframes line %7B to %7B stroke-dashoffset: 0; %7D %7D @keyframes anim %7B to %7B opacity: 1; %7D %7D%3C/style%3E%3Cpath d='m -0.2507968,49.930716 c 7.0215143,-0.675255 14.2878878,-2.250754 21.2524038,0.223497 5.298245,1.151492 9.872684,3.892918 14.458522,6.551179 6.787182,5.024517 14.926053,7.526268 23.224587,8.531076 8.0853,0.601279 16.451163,0.07248 23.973769,-3.010969 6.493942,-3.036294 11.847299,-8.292565 18.723225,-10.804733 6.88503,-2.935471 14.72341,-2.924903 21.96606,-1.437133 6.15993,1.713196 10.74061,6.338365 16.30228,8.687523 6.32475,3.80258 13.77871,4.653728 21.09543,5.381079 7.47923,0.234947 14.94544,-0.0843 22.05343,-2.579478 7.3522,-1.126583 16.09779,-5.374644 21.8511,-6.900133 2.63476,-1.021303 4.703,-0.971709 7.11721,-2.383683 -0.5827,0.08364 -1.1654,0.167277 -1.74809,0.250915' class='line' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
background-size: cover;


}