.map-responsive{
    overflow:hidden;
    padding-bottom: 61%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;

    width:100%;
    position:absolute;
}
.hover-underline-animation {
    display: inline-block;
    position: relative;
  }
  .sm-nav {
    text-indent: 10px;
}
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: #ffc107;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .nav-link {
    font-size: 22px;
  }